<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <!class name="com.atmecs.qa.testscript.MediaPageTest"/>
      <!class name="com.atmecs.qa.testscript.EventsPageTest"/>
      <!class name="com.atmecs.qa.testscript.NewsPageTest"/>
      <class name="com.atmecs.qa.testscript.CSRpageTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
